/* Default Styles */
/*
#252A38 Background
#151820 Darker Background
#DCDCDC Default foreground
#2985FF Primary
#252A38 Opacity - 56% Transparent overlay
*/

header {
    display: none;
}

body {
    background-color: #252A38;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }

h1 {
    padding-left: 10vw;
    margin-bottom: 0;
}

.post-list {
    list-style: none;
    width: 75vw;
    display: flex;
    flex-flow: row wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
}

.post {
    width: 100%;
    height: 45vh;
    background-color: #151820;
    margin-top: 25px;
}

.post-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.post-text {
    color: #fff;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.post-text p {
    margin: 0;
}

.post-username {
    font-size: 20px;
    font-weight: 600;
}

.post-date {
    font-size: 10px;
    font-weight: 300;
}

.post-message {
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* User Profile Page Styling */
.user-cover-image {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 20 vh;
    object-fit: cover;
}

.user-card {
    background-color: rgba(21, 24, 32, 0.65);
    position: absolute;
    right: 0;
    width: 90vw;
    top: calc(20vh - 80px);
    display: flex;
    flex-direction: row;
    border-top-left-radius: calc(3.5em + 6px);
    border-bottom-left-radius: calc(3.5em + 6px);
}

.user-profile-image {
    height: 120px;
    width: 120px;
    border: 3px solid #ffff;
    border-radius: 50%;
}

.user-card-text {
    padding-left: 16px;
    padding-top: 28px;
}

.user-card-text p {
    margin: 0;
    color: white;
}

#user-card-name {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

#user-card-username {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 600;
}

#user-card-email {
    font-size: 10px;
    font-weight: 300;
}

#user-post-list-title {
    position: absolute;
    width: 100%;
    height: 36px;
    top: 210px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 0;
}

.user-post-list {
    position:absolute;
    justify-content: center;
    top: calc(20vh + 80px);
    list-style: none;
    width: 75vw;
    display: flex;
    flex-flow: row wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
}

.profile-post {
    width: 100vw;
    height: 45vh;
    background-color: #151820;
    margin-top: 24px;
}
